body{
    background-color: #ffaf5c;
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 120px;
    background-color:#3c3c3c;
    z-index: 10;
    /*text-align: center;*/
    clear: both;
}

main{
    background-color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 900px;
    margin-top: 130px;
}


footer{
    width: 800px;
    height: 100px;
    background-color: #758b2e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 10px;
}
.nawigacja-menu{
    background-color: #72e7ff;
    position:relative;
    width: 800px;
    height: 100%;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}

.nawigacja-czesc-gorna{
    background-color: crimson;
    width: 800px;;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    position:relative;
}

.logo, .logowanie-rejestracja{
    height: 100%;
    width: 300px;
}

.logo{
    background-image: linear-gradient(#267e1a, #b2b106);
    float: left;
}
.logowanie-rejestracja{
    background-image: linear-gradient(#1b6cd6, #111db2);
    float: right;
}
.logo, .logowanie-rejestracja{
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.nawigacja-czesc-dolna{
    background-color: #386edc;
    width: 800px;;
    height: 50px;
    box-sizing: border-box;
}

.strona-glowna, .kurs-walut, .kurs-kruszcow, .forum{
    background-image: linear-gradient(#10b237, #dc1738);
    float: left;
    width: 150px;
    height: 100%;
    padding: 15px;
    margin-left: 40px;
    text-align: center;
    box-sizing: border-box;
}

#calculator{
    width: 300px;
    height: 150px;
    margin: 0px auto;
    border: 2px solid black;
}

#calculator-header{
    text-align: center;
}

#calculator-table{
    margin: 0px auto;
}




