article{
    background-color: white;
    /* background-color: green; */
    width: 100%;
    height: 100%;
}
.pas-tytulowy{
    position: relative;
    /* background-color: rgb(124, 113, 104); */
    background-color: white;
    color: orangered;
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: Impact,Arial,sans-serif;
    font-size: 30px;
    top: 10px;
}

.tablica-walut {
    background-color: white;
    /* background-color: rgb(111, 111, 111); */
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: flex;
}

.naglowek-walut{
    position: relative;
    background-color: rgb(56, 110, 220);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.nazwa-waluty{
     width:320px;
     height:50px;
     float: left;
 }

.kupno-waluty,.sprzedaz-waluty{
    width:150px;
    height:50px;
    float: left;
    align-items: center;
    justify-content: center;
}

.kupno-waluty{

}

.sprzedaz-waluty{

}

.kupno-input{
    width: auto;
}

.sprzedaz-input{
    width: auto;
}

.operacje-waluty{
    width:220px;
    height:50px;
    float: left;
    align-items: center;
    justify-content: center;
}


.tabliczki{
    color: #111111;
    margin: 20px auto 10px auto;
}
table{
    font-family: Arial, Verdana, sans-serif;
}
th, td{
    padding: 7px 10px 10px 10px;
}
th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #999;
    border-top: 1px solid #999;
    text-align: center;
}
tr{
    border-bottom: 1px solid #999;
}
tr.codrugi{
    background-color: #768e0a;
    border-bottom: 2px solid #999;
    border-top: 1px solid #999;
}
tr:hover{
    background-color: orange;
    /* background-color: #5c6060; */
}
td:hover{
    background-color: yellow;
    /* background-color: #7a7c7a; */
}

.flaga{
     width: 50px;
     height: 50px;
     float: left;
 }

 .flaga img{
     border: solid black 1px;
    border-radius: 25px;
 }
.nazwa-skrocona{
    width: 270px;
    height: 21px;
    float: left;
    text-align: left;
    padding-top: 4px;
}

.nazwa-calkowita{
    width: 270px;
    height: 21px;
    float: left;
    text-align: left;
    padding-top: 4px;
}

@media (max-width: 900px){

    .pas-tytulowy{
        /* display: inline-block; */
        margin-right: 200px;
    }

    .tablica-walut{
        width: 700px;
    }

    .tabliczki{
        width: auto;
    }

    .thead{
        display: none;
    }

    .table{
        width: auto;
    }

    .nazwa-skrocona, .nazwa-calkowita{
        float: none;
    }

    .table, .tr, .table td{
        display: block;
        width: auto;
    }

    .nazwa-waluty, .kupno-waluty, .sprzedaz-waluty, .operacje-waluty{
        width: 100px;
    }

    tr:hover{
        background-color: white;
    }

    .operacje-waluty{
        border-bottom: solid black 2px;
    }

    .tr{
        margin-bottom: 15px;
    }

    .table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        height: auto;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
    }

    .nazwa-waluty{
        position: absolute;
        width: 50%;
    }

    .kupno-waluty, .sprzedaz-waluty, .operacje-waluty{
        display: inline-block;
    }
}
