main{
    width: 800px;
    height: auto;
}

.artykol-rejestracji{
    background-color:rgba(85, 81, 74, 0);
    position:relative;
    top: 10px;
    padding-bottom: 1px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.tytul-artykulu-rejestracji{
    position: relative;
    background-color:rgba(201, 189, 186, 0.78);
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: Impact,Arial,sans-serif;
    font-size: 30px;
    top: 10px;
    color:black;
}

.sekcja{
    position:relative;
    background-color: rgba(111, 111, 111, 0);
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.rejestracja{
    width: 300px;
    height: 440px;
    background-color:rgba(167, 181, 179, 0.69);
    margin-left: auto;
    margin-right: auto;

}

.form_rejestracja{
    padding: 5px;
    margin: 10px 50px 15px 55px;
    text-align: center;
    tab-size: 30px;
}
.form_rejestracja-rozsuwane{
    padding: 5px 5px 5px 4px;
    margin: 0px 0px 0px 10px;
}

.rejestracja input{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: none;
}
.rejestracja select{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: none;
}

.rejestracja input[type=submit]{
    padding: 5px 5px 5px 5px;
    margin: 20px 50px 20px 50px;
    width: 180px;
    background-color: #07bf07;
    text-transform: uppercase;
    border-style: none;
    height: 40px;
    color: #fff;

}

.rejestracja input[type=submit]:hover{
    background-color: #524937;
    cursor: pointer;
    transition: background .6s;
}

.rejestracja input:focus{
    outline-color: #980808;
}

h6{
    margin: 0px 0px 15px 0px;
    text-align: center;
    font-family: Arial,sans-serif;
    font-weight: 600;
    text-transform: uppercase;

}

#data_rok{
    margin: 0px 0px 0px 0px;
}