article{
    background-color: green;
    height: 100%;
}

.pas-tytulowy{
    position: relative;
    /* background-color: rgb(124, 113, 104); */
    background-color: white;
    color: orangered;
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: Impact,Arial,sans-serif;
    font-size: 30px;
    top: 10px;
}

.artykul{
    background-color: orange;
    /* background-color: rgb(111, 111, 111); */
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: flex;
    /* border-radius: 10px; */
}

.glowny-kontener-artykulu{
    height: 70px;
    background-color: #99b240;
    width: 100%;
}

.tytul-watku{
    /* background-color: #b22029; */
    background-color: yellow;
    font-size: 20px;
    height: 70px;
    width: 400px;
    float: left;
}

.tytul-watku:hover{
    background-color: orange;
}

.ilosc-odwiedzin{
    width: 100px;
    height: 70px;
    background-color: white;
    /* background-color: #6667b2; */
    float: left;
}
.autor{
    width: 200px;
    height: 70px;
    background-color: yellow;
    /* background-color: #b21a2c; */
    float: left;
}
.autor:hover{
    background-color: orange;
}
.czas-wstawienia{
    width: 150px;
    height: 70px;
    background-color: white;
    /* background-color: #36b217; */
    float: left;
}

.admin-mini-panel{
    width: 110px;
    height: 70px;
    background-color: yellow;
    /* background-color: #b2ac13; */
    float: left;
}
.admin-mini-panel:hover{
    background-color: orange;
}

.ilosc-odwiedzin:hover{
    background-color: yellow;
}
.czas-wstawienia:hover{
    background-color: yellow;
}
.tabliczki{

    color: #111111;
    margin: 20px auto 10px auto;
}
table{
    width: 960px;
    font-family: sans-serif;
}
th, td{
    padding: 7px 10px 10px 10px;
}
th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #999;
    border-top: 1px solid #999;
    text-align: center;
}
tr.codrugi{
    /* background-color: #8e8787; */
    background-color: orange;
}
tr:hover{
    /* background-color: #5c6060; */
    background-color: orange;
}
td:hover{
    /* background-color: #7a7c7a; */
    background-color: yellow;
}

td.panel_admin ,td.wstawione_memy,td.liczba_odwiedzin{
    text-align: center;
}


th.panel_uzytkownicy, th.panel_forum, th.panel_artykuly, th.panel_zgloszenia{
    width: 25%;
}
th.panel_uzytkownicy:hover, th.panel_forum:hover, th.panel_artykuly:hover, th.panel_zgloszenia:hover{
    background-color: #af9f27;
}






@media (max-width: 900px){

    .pas-tytulowy{
        /* display: inline-block; */
        margin-right: 270px;
    }

    #stworz_watek{
        /* display: inline-block; */
        margin-right: 270px;
    }

    .artykul{
        height: auto;
        width: 700px;
        transition: 2s;
    }

    .glowny-kontener-artykulu{
        height: auto;
        width: 100%;
    }

    .tytul-watku, .ilosc-odwiedzin, .autor, .czas-wstawienia, .admin-mini-panel{
        float: none;
        width: 100%;
        height: auto;
    }
}