article{
    background-color: green;
    width: 100%;
    height: 100%;
}
.pas-tytulowy{
    position: relative;
    background-color: rgb(124, 113, 104);
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: Impact,Arial,sans-serif;
    font-size: 30px;
    top: 10px;
}

.tablica-walut {
    background-color: rgb(111, 111, 111);
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: flex;
}

.naglowek-walut{
    position: relative;
    background-color: rgb(56, 110, 220);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.nazwa-waluty{
     width:320px;
     height:50px;
     background-color: rgb(220, 45, 41);
     float: left;
 }

.kupno-waluty,.sprzedaz-waluty{
    width:150px;
    height:50px;
    background-color: rgb(84, 220, 77);
    float: left;
}

.kupno-waluty{
    background-color: rgb(84, 220, 77);
}

.sprzedaz-waluty{
    background-color: rgb(148, 196, 220);



}

.operacje-waluty{
    width:220px;
    height:50px;
    background-color: rgb(220, 26, 27);
    float: left;
}


.tabliczki{
    color: #111111;
    margin: 20px auto 10px auto;
}
table{
    font-family: Arial, Verdana, sans-serif;
}
th, td{
    padding: 7px 10px 10px 10px;
}
th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #999;
    border-top: 1px solid #999;
    text-align: center;
}
tr.codrugi{
    background-color: #8e8787;
}
tr:hover{
    background-color: #5c6060;
}
td:hover{
    background-color: #7a7c7a;
}

.flaga{
     width: 50px;
     height: 50px;
     float: left;
     background-color: #72e7ff;
 }
.nazwa-skrocona{
    width: 270px;
    height: 21px;
    float: left;
    background-color: #91ff38;
    text-align: left;
    padding-top: 4px;
}

.nazwa-calkowita{
    width: 270px;
    height: 21px;
    float: left;
    background-color: #3033ff;
    text-align: left;
    padding-top: 4px;
}
