body{
    background-color: #ffaf5c;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 120px;
    background-color:#3c3c3c;
    z-index: 10;
    /*text-align: center;*/
    clear: both;
}

main{
    background-color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 900px;
    margin-top: 130px;
}


footer{
    width: 800px;
    height: 100px;
    background-color: #758b2e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 10px;
}
.nawigacja-menu{
    background-color: #72e7ff;
    position:relative;
    width: 800px;
    height: 100%;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}

.nawigacja-czesc-gorna{
    background-color: crimson;
    width: 800px;;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    position:relative;
}

.logo, .logowanie-rejestracja{
    height: 100%;
    width: 300px;
}

.logo{
    background-image: linear-gradient(#267e1a, #b2b106);
    float: left;
}
.logowanie-rejestracja{
    background-image: linear-gradient(#1b6cd6, #111db2);
    float: right;
}
.logo, .logowanie-rejestracja{
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.nawigacja-czesc-dolna{
    background-color: #386edc;
    width: 800px;;
    height: 50px;
    box-sizing: border-box;
}

.strona-glowna, .kurs-walut, .kurs-kruszcow, .forum{
    background-image: linear-gradient(#10b237, #dc1738);
    float: left;
    width: 150px;
    height: 100%;
    padding: 15px;
    margin-left: 40px;
    text-align: center;
    box-sizing: border-box;
}

#calculator{
    width: 300px;
    height: 150px;
    margin: 0px auto;
    border: 2px solid black;
}

#calculator-header{
    text-align: center;
}

#calculator-table{
    margin: 0px auto;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500px;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: blue;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: blue;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: blue;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: blue;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: blue;
}

.informacje{
    background-color: rgb(111, 111, 111);
    width: 100%;
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.transakcja{
    background-color: blueviolet;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.transakcja-lewa{
    background-color: coral;
    float: left;
}
.transakcja-lewa-naglowek{
    background-color: darkred;
}
.transakcja-lewa-tresc{
    background-color: deepskyblue;
}
.transakcja-prawa{
    background-color: darkgreen;
    float: left;
}
.benefity{
    background-color: gold;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.benefit1, .benefit2, .benefit3{
    background-color: greenyellow;
    float: left;
}
.benefit1-img, .benefit2-img, .benefit3-img{
    background-color: indigo;
}
.benefit1-naglowek, .benefit2-naglowek, .benefit3-naglowek{
    background-color: lawngreen;
}
.benefit1-tresc, .benefit2-tresc, .benefit3-tresc{
    background-color: lightcoral;
}

.nagrody{
    background-color: rgb(111, 111, 111);
    width: 100%;
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.nagrody-tytul{
    background-color: blueviolet;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.nagrody-dolne{
    background-color: lightcoral;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.nagroda1, .nagroda2, .nagroda3{
    background-color: lightgoldenrodyellow;
    float: left;
}
.nagroda1-img, .nagroda2-img, .nagroda3-img{
    background-color: lightgreen;
}
.nagroda1-info, .nagroda2-info, .nagroda3-info{
    background-color: lime;
}