.pas-tytulowy{
    background-color: rgb(124, 113, 104);
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}
section{
    padding: 5px;
}
section input{
    height: 30px;
    width: 800px;
    font-size: 30px;
}
textarea{
    height: 700px;
    width: 800px;
    font-size: 15px;
    font-family: sans-serif;
}
section p{
    margin-top: 0px;
    text-align: center;
    font-family: sans-serif;
    color: #999999;
    font-size: 30px;
}
#dodaj{
    background-color: transparent;
    height: auto;
    cursor: pointer;
}
#zdjecie{
    height: auto;
}